<div class="container-fluid">
  <!-- --------------------------------------------------- -->
  <!--  Form Basic Start -->
  <!-- --------------------------------------------------- -->
  <div class="card bg-light-info shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 py-3">
      <div class="row align-items-center">
        <div class="col-12">
          <h4 class="fw-semibold mb-8">Home</h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-muted " href="">veroDigit</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex;gap: 16px;">
  <div class="card bg-light-info shadow-none position-relative overflow-hidden" style="width: 100%; background: lavenderblush !important;">
    <div class="card-body px-4 py-3">
      <div class="row align-items-center">
        <div class="col-12">
          <h4 class="fw-semibold mb-8">{{ totalArtworks }}</h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-muted " href="">Artworks</a>
              </li>
            </ol>
          </nav>
        </div>
        <!--        -->
      </div>
    </div>
  </div>
  <div class="card bg-light-info shadow-none position-relative overflow-hidden" style="width: 100%; background: lavenderblush !important;">
    <div class="card-body px-4 py-3">
      <div class="row align-items-center">
        <div class="col-12">
          <h4 class="fw-semibold mb-8">{{ uniqueArtistsCount }}</h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-muted " href="">Artists</a>
              </li>
            </ol>
          </nav>
        </div>
        <!--        -->
      </div>
    </div>
  </div>
  </div>
  <div class="card w-100 position-relative overflow-hidden">
    <div id="calendar" class="container">
      <!-- Use the fullcalendar component here -->
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>

</div>
